@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    line-height: 1.4;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.center-nav{
    display: flex;
}
.logo img {
    width: 150px;
    height: auto;
}
.search{
display: flex;
}
.search input{
    min-width: 600px;
    padding: 10px 20px;
    border: 0.5px solid #ccc;
}
.search button{
    border:none;
    background-color: #d8d3d3;
    padding: 10px 20px;
}
.mic{
    padding: 15px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: rgb(240, 239, 239);
    margin-left: 15px;
}
.mic img {
    width: 30px;
}
.side_nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-right: 50px;
}
.tags{
    display: flex;
    padding: 10px 20px;
    gap: 15px;
    border-top: 1px solid #ccc;
}
.dark {
    background: #000;
    color: white;
}
.light {
    background: rgb(238, 238, 238);
    color: rgb(67, 67, 67);
}
.tag{
    padding: 5px 15px;
    border-radius: 20px;
    border: 1px solid rgb(22,22,22);
}
.container{
    display: flex;
}
.main_container{
    width: 100%;
}
aside{
    display: flex;
    padding: 10px;
    margin-top: -8px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.side_icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.side_icons img {
    width: 30px;
}
.side_icons p{
    font-size: 15px;
    margin-top: -5px;
}
.bars{
    margin-top: 20px;
}
main {
    min-height: 100vh;
    background: rgb(240, 238, 238);
}
.card_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
.card{
    padding: 10px;
    display: flex;
    flex-direction: column;
    max-width: 320px;
}
.avtar_content{
    padding-top: 10px;
    display: flex;
    gap: 5px;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.card h3 {
    font-size: 20px;
}
.channel-name{
    font-size: 16px;
  font-weight: bold;
}
.content_status{
    display: flex;
    font-size: 14px;
    gap: 10px;
}
